* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background: #000;
}

main {
    width: 100vw;
    height: 100vh;

    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    user-select: none;
    overflow: hidden;
}

.circle-container { 
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0 5px 12px #fff);
}

.circle {
    width: 180px;
    height: 180px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform-origin: center;
    
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.face {
    font-weight: 700;
    font-size: 120px;

    white-space: nowrap;
}
  